<style>

	/* Algorithm page */

	.algpageheading22 {
		border: 3px solid #66804C;
		padding-left: 5px;
		background-color: #DDDDDD;
	}

	.button22alglink {
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		background-color: #CCFF33;
		color: #000066;
		border: 2px solid #000066;
	}

	.button22alglink:hover {
		background-color: #66804C;
		color: #000066;
	}

	.algpageheading33 {
		border: 3px solid #738080;
		padding-left: 5px;
		background-color: #DDDDDD;
	}

	.button33alglink {
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		background-color: #66FFFF;
		color: #800000;
		border: 2px solid #800000;
	}

	.button33alglink:hover {
		background-color: #738080;
		color: #800000;
	}

	.algpageheading44 {
		border: 3px solid #B24C33;
		padding-left: 5px;
		background-color: #DDDDDD;
	}

	.button44alglink {
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		background-color: #FF9900;
		color: #660066;
		border: 2px solid #660066;
	}

	.button44alglink:hover {
		background-color: #B24C33;
		color: #660066;
	}

	/* 2x2 Algorithm divs and algs */

	h3.algname22 {
		color: #CCFF33;
	}

	div.begoll_2_css {
		border: 2px solid black;
		background-color: #66804C;
	}

	b.begoll_2_css {
		color:#000066;
		padding-left: 5px;
	}

	div.begpll_2_css {
		border: 2px solid black;
		background-color: #66804C;
	}

	b.begpll_2_css {
		color:#000066;
		padding-left: 5px;
	}

	div.intort_2_css {
		border: 2px solid black;
		background-color: #66804C;
	}

	b.intort_2_css {
		color:#000066;
		padding-left: 5px;
	}

	div.advcll_2_css {
		border: 2px solid black;
		background-color: #66804C;
	}

	b.advcll_2_css {
		color:#000066;
		padding-left: 5px;
	}

	div.masego_2_css {
		border: 2px solid black;
		background-color: #66804C;
	}

	b.masego_2_css {
		color:#000066;
		padding-left: 5px;
	}

	div.masegt_2_css {
		border: 2px solid black;
		background-color: #66804C;
	}

	b.masegt_2_css {
		color:#000066;
		padding-left: 5px;
	}

	/* 3x3 Algorithm divs and algs */

	h3.algname33 {
		color: #66FFFF;
	}

	.hoverhthree33 {
		color: #800000;
	}

	div.begoll_3_css {
		border: 2px solid black;
		background-color: #738080;
	}

	b.begoll_3_css {
		color:#800000;
		padding-left: 5px;
	}

	div.begpll_3_css {
		border: 2px solid black;
		background-color: #738080;
	}

	b.begpll_3_css {
		color:#800000;
		padding-left: 5px;
	}

	div.advoll_3_css {
		border: 2px solid black;
		background-color: #738080;
	}

	b.advoll_3_css {
		color:#800000;
		padding-left: 5px;
	}

	div.advpll_3_css {
		border: 2px solid black;
		background-color: #738080;
	}

	b.advpll_3_css {
		color:#800000;
		padding-left: 5px;
	}

	div.advltl_3_css {
		border: 2px solid black;
		background-color: #738080;
	}

	b.advltl_3_css {
		color:#800000;
		padding-left: 5px;
	}

	/* 4x4+ Algorithm divs and algs */

	div.begpar_7_css {
		background-color: #FF9900;
		border: 2px solid black;
	}

	b.begpar_7_css {
		color: #660066;
		padding-left: 5px;
	}

	/* images */

	.two1limgs {
		height: 125px;
		width: 125px;
		padding-left: 5px;
	}

	.three1limgs {
		height: 160px;
		width: 160px;
		padding-left: 5px;
	}

	.fourfullimgs {
		height: 200px;
		width: 200px;
		padding-left: 5px;
	}

</style>